@import url(./__content/page__content.css);

.page {
    /*max-width: 1280px;*/
    background-color: #000000;
    font-family: 'Inter', ‘Arial’, sans-serif;
    min-height: 100vh;
    /*margin: 0 auto;*/
}