

.popup__form {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    position: relative;
}

@media (max-width: 560px) {
    .popup__form {
        width: 240px;
    }
}